nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b3b3b;
    padding: 10px 20px;
    color: white;
  
    .logo {
      font-size: 24px;
      font-weight: bold;
      color: white;
      text-decoration: none;

      .image-width {
        width: 28%;
      }
    }
  
    .nav-links {
      display: flex;
      gap: 20px;
    }
  
    .nav-links a {
      color: white;
      text-decoration: none;
      font-size: 18px;
      transition: color 0.3s;
  
      &:hover {
        color: #f0a500;
      }
    }
  
    .logout-button {
      background-color: #f0a500;
      color: white;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      border-radius: 5px;
      font-size: 16px;
  
      &:hover {
        background-color: #d89000;
      }
    }
  }

  